@font-face {
  font-family: "Refia";
  src: url(/font/Refia-Thin.otf) format("opentype"),  url(/font/Refia-Bold.otf) format('opentype'), url(/font/Refia.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --cor-de-fundo: #262626;
  --cor-primaria: #0AA1DD;
  --cor-secundaria: #ffffff;
}
body{
  background-color: #262626;
  padding: 2%

}
.navega{

}
nav{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  width: 99%;
  justify-content: space-between;
  margin: 0 auto;
  
}
img{
  width: 100px;
  height: 50px;
  cursor: pointer;
}
ul{


}
li{
  list-style: none;
  font-size: 20pt;
  display: inline;
  padding: 10px;
}
a:hover{
  transition: 500ms;
  color: var(--cor-primaria);
}
a:visited{
  transition: 500ms;
}
a{
  text-decoration: none;
  color: var(--cor-secundaria);
  font-family: Refia, sans-serif;
  font-weight: 100;
}
.headline{
  margin: 100px auto;
  width: 99%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
.headline h1{
  color: var(--cor-secundaria);
  margin: 0;
  font-size: 4em;
  text-align: center; 
  font-family: "Refia";
  width: 100%;
  
  
}
.headline h1 span{
  color: var(--cor-primaria);
}
.headline p{
  color: var(--cor-secundaria);
  text-align: center;
  font-size: 1.2rem;
}
.headline hr{
  margin: 50px auto;
  background-color: var(--cor-primaria);
  height: 3px;
  width: 150px;
  color: #0AA1DD;
  border: none;
  outline: none;


}
.headline button{
  margin: 0 auto;
  width: 10%;
  width: 294.64px;
  height: 72.64px;
  background: #0AA1DD;
  box-shadow: 0px 0px 50px rgba(10, 161, 221, 0.91);
  border-radius: 7px;
  border: none;
  
}