/*CONFIGURAÇÃO*/
@font-face {
  font-family: "Refia";
  src: url(/font/Refia-Thin.otf) format("opentype"),  url(/font/Refia-Bold.otf) format('opentype'), url(/font/Refia.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --cor-de-fundo: #262626;
  --cor-primaria: #0AA1DD;
  --cor-secundaria: #ffffff;
  --font-secundaria:  'Open Sans', sans-serif;
  --font-primaria:    Refia, sans-serif;
}
body{
  background: var(--cor-de-fundo);

  
}
/*NAVEGAÇÃO DO SITE*/
header{
  background-color: var(--cor-de-fundo);
  padding: 5px 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin: 0 auto;
  border-bottom: 4px solid var(--cor-primaria);
}
nav{
}
#logo{
  width: 100px;
  height: 50px;
  cursor: pointer;
  background-image: url("/bype-site/image/logo-blue.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#logo:hover{
  background-image: url('/bype-site/image/logo-white.png');
  transition: 500ms;
}
ul{
}
li{
  list-style: none;
  display: inline;
  padding: 10px;
}
a{
  text-decoration: none;
  color: var(--cor-secundaria);
  font-family: var(--font-secundaria);
  font-size: 1rem;
  font-weight: 100;
}
a:hover{
  transition: 500ms;
  color: var(--cor-primaria);
  
}
a:visited{
  transition: 500ms;
}
/*CONTEÚDO*/
main{
}
/*HEADLINE*/
.headline{
  width: 100%;
  background-color: var(--cor-secundaria);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0 30px 0;
}
.headline h1{
  color: var(--cor-de-fundo);
  font-size:  4em;
  text-align: center; 
  font-family: "Refia";
  text-align: center;
  width: 95%;
}

.headline h1 span{
  color: var(--cor-primaria);
}
.headline p{
  color: #262626;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  margin: 0 auto;
  width: 95%;
}
.headline hr{
  background-color: var(--cor-primaria);
  height: 3px;
  width: 150px;
  color: #0AA1DD;
  border: none;
  outline: none;
  margin: 30px auto;
}
.headline button{
  width: 264.64px;
  height: 52.64px;
  background: #0AA1DD;
  box-shadow: 0px 0px 50px rgba(10, 161, 221, 0.91);
  border-radius: 7px;
  border: none;
  color: var(--cor-secundaria);
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Refia";
  cursor: pointer;
  margin: 30px auto;
}
.headline button:hover{

  transition: 500ms;
  box-shadow: 0px 0px 5px var(--cor-primaria);
  transform: scale(1.1, 1.1);
}
/*SWIPPER DE PROJETOS*/
#portfolio{

}
/*RESPONSIVIDADE*/
@media (max-width: 768px){
  body{
  }
  .headline h1{
    font-size: 2.5em;
  }
  .headline p{
    font-size: 1rem;
    font-weight: 300;
  }
  .headline button{
    width: 254.64px;
    height: 52.64px;
    font-weight: 500;
    font-size: 1.2rem;
  }
  .headline hr{
    width: 130px;
  }
  ul{
    visibility: hidden;
  }
}
#portfolio{
  height: 520px;
  width: 935px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin: 50px 0;

}
.teste{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  border-top: 4px solid var(--cor-primaria);
}
.teste h2{
  color: #FFFFFF;
  font-size: 3em;
  font-family: var(--font-primaria);
}
@media(max-width:  1000px){
  #portfolio{
    height: 250px;
    width: 300px;
 
  }
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}
.bar{
  width: 70px;
  height: 20px;
  border: 2px solid #fff;
  margin: 6px;
  border-radius: 5px;
  cursor: pointer;  
  display: inline-block;
}
@media (max-width: 1000px){
  .bar{
    width: 14px;
    height: 14px;
  }

}
.bar:hover{
  background: #fff;
  transition: 400ms;
}
input{
  display: none;
}
.slides{
  display: flex;
  width: 500%;
  height: 100%;
}
.slide{
  width: 20%;
  transition: .6s;
}
.slide img{
  width: 100%;
  height: 100%;
}
#slide1:checked ~ .s1{
  margin-left: 0;

}
#slide2:checked ~ .s1{
  margin-left: -20%;
}
#slide3:checked ~ .s1{
  margin-left: -40%;
}
#slide4:checked ~ .s1{
  margin-left: -60%;
}
#slide5:checked ~ .s1{
 margin-left: -80%; 
}